// utility
//

//------------------------------------| border |------------------------------------
.border {
  border: 1px solid $color-black !important;
}

@for $value from 1 through 3 {
  .border-#{$value + 1} { border: $value + 1px solid !important; }
  .border-top-#{$value + 1} { border-top: $value + 1px solid !important; }
  .border-right-#{$value + 1} { border-right: $value + 1px solid !important; }
  .border-bottom-#{$value + 1} { border-bottom: $value + 1px solid !important; }
  .border-left-#{$value + 1} { border-left: $value + 1px solid !important; }
}

// color
@each $color, $value in $color {
  .border-#{$color} {
    border-color: #{$value} !important;
  }
}

//------------------------------------| rounded |------------------------------------
@for $value from 4 through 6 {
  .rounded-#{$value + 1} { border-radius: $value + 1px !important; }

  .rounded-top-#{$value + 1} { border-top-left-radius: $value + 1px !important; border-top-right-radius: $value + 1px !important; }
  .rounded-right-#{$value + 1} { border-top-right-radius: $value + 1px !important; border-bottom-right-radius: $value + 1px !important; }
  .rounded-bottom-#{$value + 1} { border-bottom-right-radius: $value + 1px !important; border-bottom-left-radius: $value + 1px !important; }
  .rounded-left-#{$value + 1} { border-top-left-radius: $value + 1px !important; border-bottom-left-radius: $value + 1px !important; }

  .rounded-top-right-#{$value + 1} {border-top-right-radius: $value + 1px !important;}
  .rounded-top-left-#{$value + 1} {border-top-left-radius: $value + 1px !important;}
  .rounded-bottom-right-#{$value + 1} {border-bottom-right-radius: $value + 1px !important;}
  .rounded-bottom-left-#{$value + 1} {border-bottom-left-radius: $value + 1px !important;}
}

//------------------------------------| cursor |------------------------------------
.c-pointer {
  cursor: pointer !important;
}

.cursor-auto {
  cursor: auto !important;
}

//------------------------------------| overflow |------------------------------------
.overflow-auto {
  overflow: auto !important;
}

.overflow-hd {
  overflow: hidden !important;
}

.overflow-y-hd {
  overflow-y: hidden !important;
}

.overflow-x-hd {
  overflow-x: hidden !important;
}

//------------------------------------| text |------------------------------------
.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
  text-underline-position: under !important;
}

//------------------------------------| Helper |------------------------------------
.link-none {
  pointer-events: none !important;
}

.border-none {
  border: none !important;
}

// Page tablets (min-width: 768px)
//
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    //------------------------------------| flex |------------------------------------
    .flex#{$infix}-center {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

    .flex#{$infix}-between {
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
    }

    .flex#{$infix}-around {
      display: flex !important;
      justify-content: space-around !important;
      align-items: center !important;
    }

    .flex#{$infix}-start {
      display: flex !important;
      justify-content: flex-start !important;
      align-items: center !important;
    }

    //------------------------------------| auto box |------------------------------------
    .mg#{$infix}-auto {
      margin: auto !important;
    }

    .mg#{$infix}-center {
      margin: 0 auto !important;
    }

    .ml#{$infix}-auto {
      margin-left: auto !important;
    }
  }
}
